/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px 0 0;
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-bottom: 2px solid #f0f0f0;
}

header .logo img {
    width: 250px;
    margin-left: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    margin-right: 30px;
}

nav ul li {
    margin-left: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #32CD32;
}

main {
    padding: 20px;
}

/* Estilos del botón de hamburguesa */
.hamburger {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 20;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #333;
    transition: 0.3s;
}

/* Contenedor de las recetas */
#wishlist-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Estilo del enlace de la lista de deseos en el encabezado */
.wishlist-link {
    display: flex;
    align-items: center;
    position: relative;
}

/* Posiciona el icono amarillo del contador */
.wishlist-icon {
    background-color: #fdd835;
    width: 20px;
    /* Tamaño del círculo */
    height: 20px;
    position: absolute;
    top: -12px;
    right: -20px;
    /* Ajusta esta distancia según tu diseño */
    display: inline-block;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}


/* Diseño para la sección de detalles */
.recipe-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

/* Estilo para la imagen */
.recipe-image {
    flex: 2;
}

.recipe-image img {
    width: 500px;
    border-radius: 10px;
    height: auto;
    margin-left: 90px;
    margin-top: 5px;
}

/* Estilo para los ingredientes */
.recipe-ingredients {
    flex: 1;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 180px;
}

/* Ajuste para los títulos de Ingredientes y Preparación */
.recipe-ingredients h3,
.recipe-preparation h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    /* Texto en mayúsculas */
    color: #32CD32;
    /* Color verde */
    margin-bottom: 10px;
}

.recipe-ingredients ul {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 1rem;
}

/* Estilo para la preparación */
.recipe-preparation {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.recipe-preparation p {
    font-size: 1rem;
    line-height: 1.6;
}

/* Estilo para el título de la receta */
#recipe-title {
    font-size: 2rem;
    color: #333;
    text-align: left;
    margin-bottom: 15px;
    text-transform: uppercase;
    /* Si deseas que esté en mayúsculas */
    color: #32CD32;
    /* Manteniendo el color verde */
}

/* Botón "Agregar a mi lista" separado y con estilo */
.add-to-list {
    margin-top: 20px;
    text-align: center;
    /* Centrar el botón horizontalmente */
}

.add-to-list button {
    background-color: #32CD32;
    /* Botón verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-list button:hover {
    background-color: #28a745;
    /* Un tono más oscuro de verde al hacer hover */
}

/* Sección de comentarios */
.recipe-comments {
    margin-top: 40px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-comments h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.recipe-comments label {
    display: block;
    margin-bottom: 10px;
    font-size: 1rem;
    color: #333;
}

.recipe-comments textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.submit-container {
    text-align: center;
}

.submit-container button {
    background-color: #32CD32;
    /* Botón verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-container button:hover {
    background-color: #28a745;
    /* Un tono más oscuro de verde */
}

/* Lista de comentarios */
#comments-list {
    margin-top: 20px;
}

#comments-list h4 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #333;
}

.comment {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1.4;
}

/* Define la animación de salto para el contenedor completo */
@keyframes bounce-container {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

/* Clase para activar la animación de salto */
.bounce-container {
    animation: bounce-container 0.5s ease;
}

/* Estilos para el footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 1.2rem;
    margin-top: 70px;
}

footer p {
    margin: 0;
}

@media screen and (max-width: 768px) {

    /* Encabezado */
    header {
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        position: relative;
    }

    /* Botón de hamburguesa */
    .hamburger {
        display: block;
        background: transparent;
        border: none;
        cursor: pointer;
        align-self: flex-end;
        margin-right: 20px;
    }

    .hamburger span {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px;
        background-color: #333;
        transition: 0.3s;
    }

    /* Animación para el botón de hamburguesa al abrirse */
    .hamburger.active span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Menú desplegable que se muestra debajo del header */
    nav ul {
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 20px 0;
        list-style: none;
        display: none;
        /* Oculto por defecto */
        background-color: #32CD32;
        /* Fondo verde */
        width: 95vw;
        /* Ocupa todo el ancho de la ventana */
        height: 35vh;
    }

    nav ul.open {
        display: flex;
        /* Muestra el menú */
    }

    nav ul.show {
        display: flex;
        /* Mostramos el menú cuando se hace clic */
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 16px;
    }

    nav ul,
    nav ul li,
    nav ul li a {
        box-shadow: none;
        /* Eliminar sombra */
        border: none;
        /* Eliminar bordes */
    }


    nav ul li a:hover {
        color: black;
        /* Cambia al verde al pasar el mouse */
    }

    /* Estilos para centrar la sección de detalles de recetas en vista móvil */
    .recipe-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        margin: 0 auto;
        width: 100%;
        max-width: 350px;
        text-align: center;
        margin-left: -10px;
        /* Centra todo el contenido */
    }

    /* Centrado y ajuste de la imagen de la receta */
    .recipe-image img {
        width: 80%;
        max-width: 300px;
        border-radius: 8px;
        margin-bottom: 15px;
        margin-left: 50px;
    }

    /* Título de la receta */
    #recipe-title {
        font-size: 2rem;
        color: #32CD32;
        font-weight: bold;
        margin-bottom: 15px;
        word-wrap: break-word;
        /* Ajusta el texto dentro del ancho */
        text-align: center;
    }

    /* Ingredientes de la receta */
    .recipe-ingredients {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        margin-left: 230px;
    }

    .recipe-ingredients h3 {
        font-size: 1.2rem;
        color: #333;
        margin-bottom: 10px;
    }

    .recipe-ingredients ul {
        list-style-type: none;
        padding: 0;
        text-align: center;
    }

    .recipe-ingredients ul li {
        font-size: 1rem;
        color: #555;
        margin-bottom: 5px;
        word-wrap: break-word;
        /* Asegura que las palabras largas se ajusten */
    }

    /* Botón "Agregar a mi lista" */
    .add-to-list {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }

    .add-to-list button {
        width: 80%;
        padding: 12px;
        font-size: 1rem;
        color: #fff;
        background-color: #32CD32;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-align: center;
    }

    .add-to-list button:hover {
        background-color: #28a745;
    }

    /* Preparación de la receta */
    .recipe-preparation {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        margin-left: -15px;
    }

    .recipe-preparation h3 {
        font-size: 1.2rem;
        color: #333;
        margin-bottom: 10px;
    }

    .recipe-preparation p {
        font-size: 1rem;
        color: #555;
        line-height: 1.5;
        word-wrap: break-word;
        text-align: center;
        /* Centra el texto */
    }

    footer {
        font-size: 1rem;
    }
}