/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px 0 0;
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border-bottom: 2px solid #f0f0f0;
}

header .logo img {
    width: 250px;
    margin-left: 30px;
    margin-top: -10px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    margin-right: 30px;
    margin-top: -10px;
}

nav ul li {
    margin-left: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
    font-size: 16px;
}

nav ul li a:hover {
    color: #32CD32;
    /* Cambia al verde al pasar el mouse */
}

/* Estilos del botón de hamburguesa */
.hamburger {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 20;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #333;
    transition: 0.3s;
}

/* Estilos para el modal de bienvenida */
.welcome-modal {
    display: none;
    /* Oculto por defecto */
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo oscuro semitransparente */
}

.welcome-modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 8px;
}

.close-welcome {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close-welcome:hover,
.close-welcome:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.contact-btn {
    background-color: #ffcc00;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
}

.contact-btn:hover {
    background-color: #ff9900;
}

/* Sección de la demo */
.demo-section {
    background: url('/src/images/fondo.webp') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.demo-section p {
    font-size: 25px;
    text-align: center;
}

/* Contenedor del formulario con transparencia */
.form-container {
    background-color: rgba(255, 255, 255, 0.8);
    /* Fondo blanco con transparencia */
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    margin-bottom: 15px;
    font-size: 35px;
    color: #000000;
}

.form-container p {
    margin-bottom: 25px;
    color: #555;
}

.form-container form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container form button {
    width: 100%;
    padding: 10px;
    background-color: #32CD32;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-container form button:hover {
    background-color: #28a745;
}

.modal {
    display: none;
    /* Oculto por defecto */
    position: fixed;
    z-index: 100;
    /* Coloca el modal encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo oscuro semitransparente */
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Sección del propósito */
.proposito-section {
    padding: 50px 0;
    background-color: #f9f9f9;
    margin-top: 50px;
    margin-bottom: 80px;
}

.proposito-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
}

.proposito-image img {
    margin-left: 20px;
    width: 600px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.proposito-content {
    max-width: 600px;
}

.proposito-content h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 15px;
}

.proposito-content p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #666;
}

main h3 {
    text-align: center;
    /* Centra el texto */
    font-size: 2.5rem;
    /* Agranda el tamaño de la fuente */
    color: #333;
    /* Ajusta el color, opcional */
    margin: 20px 0;
    /* Añade espacio arriba y abajo del h2 */
}

/* Diseño del contenedor de la cuadrícula */
.random-grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* 5 columnas */
    grid-template-rows: repeat(2, 1fr);
    /* 2 filas */
    gap: 20px;
    /* Espacio entre las imágenes */
    justify-content: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    /* Centrar la cuadrícula */
}

/* Estilos para las tarjetas de receta */
.recipe-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    /* Esto permitirá posicionar elementos hijos de forma absoluta */
    overflow: hidden;
    /* Para que el tooltip no sobresalga de los límites */
}

.recipe-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.recipe-card h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.recipe-card .tooltip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    /* Inicia desde la mitad del contenedor */
    left: 0;
    width: 100%;
    height: 50%;
    /* Ajusta a la mitad de la altura del contenedor */
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    font-size: 0.9rem;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 10px;
    z-index: 5;
    /* Nuevas propiedades para manejar el ajuste del texto */
    overflow: hidden;
    /* Evita que el texto sobresalga del contenedor */
    text-overflow: ellipsis;
    /* Muestra puntos suspensivos si el texto es muy largo */
    word-wrap: break-word;
    /* Divide las palabras largas que no caben */
    box-sizing: border-box;
    /* Asegura que el padding esté dentro del contenedor */
}

.recipe-card:hover .tooltip {
    opacity: 1;
}

/* Transformación al pasar el mouse */
.recipe-card:hover {
    transform: translateY(-10px) scale(1.05);
    /* Sube la tarjeta y aumenta ligeramente su tamaño */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    /* Sombra más pronunciada al hacer hover */
}

/* Diseño de cuadrícula para organizar las categorías */
.category-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: scroll;
}

/* Estilos para cada tarjeta de categoría */
.categories h5 {
    font-size: 40px;
    /* Ajusta el tamaño de la fuente */
    font-weight: bold;
    /* Hace el texto más grueso */
    color: #333;
    /* Cambia el color del texto */
    text-align: center;
    /* Centra el texto */
    margin-bottom: 50px;
    /* Espacio debajo del título */
    margin-top: 50px;
}

.category {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 15px;
}

.category p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.category:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Carrusel de categorías */
.category-carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
}

.category-carousel {
    display: flex;
    scroll-behavior: smooth;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.category-carousel::-webkit-scrollbar {
    display: none;
}

/* Botones de navegación del carrusel */
.category-carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
    padding: 10px;
}

#category-prev {
    left: 10px;
}

#category-next {
    right: 10px;
}

/* Estilos para el footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 1.2rem;
    margin-top: 70px;
}

footer p {
    margin: 0;
}

/* Adaptaciones específicas para móviles */
@media screen and (max-width: 768px) {

    /* Encabezado */
    header {
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        position: relative;
    }

    /* Botón de hamburguesa */
    .hamburger {
        display: block;
        background: transparent;
        border: none;
        cursor: pointer;
        align-self: flex-end;
        margin-right: 20px;
    }

    .hamburger span {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px;
        background-color: #333;
        transition: 0.3s;
    }

    /* Animación para el botón de hamburguesa al abrirse */
    .hamburger.active span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* Menú desplegable que se muestra debajo del header */
    nav ul {
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 20px 0;
        list-style: none;
        display: none;
        /* Oculto por defecto */
        background-color: #32CD32;
        /* Fondo verde */
        width: 95vw;
        /* Ocupa todo el ancho de la ventana */
        height: 23vh;
    }

    nav ul.open {
        display: flex;
        /* Muestra el menú */
    }

    nav ul.show {
        display: flex;
        /* Mostramos el menú cuando se hace clic */
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 16px;
    }

    nav ul,
    nav ul li,
    nav ul li a {
        box-shadow: none;
        /* Eliminar sombra */
        border: none;
        /* Eliminar bordes */
    }

    nav ul li a:hover {
        color: black;
        /* Cambia al verde al pasar el mouse */
    }

    /* Ajustes de estilo para otros elementos en vista móvil */
    .demo-section {
        height: auto;
        padding: 20px;
    }

    .proposito-container {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .proposito-image img {
        width: 100%;
        margin-left: 0;
    }

    main h3 {
        font-size: 1.8rem;
    }

    .random-grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 15px;
    }

    footer {
        font-size: 1rem;
    }
}